.row-bcg 
{
	background-color: #FC997C;
	height: 15vh;
	margin-bottom: 0vh !important;
}

.numbers 
{
	font-size: larger;
	padding-top: 3.5vh;
	text-align: center;
	color: white;
	font-family: sans-serif;
}

.numbers h3 
{
	margin: 0vh;
}

.numbers p 
{
	padding-top: 1vh;
	margin: 0vh;
}