.btn
{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	padding: 7px 15px;
	border: none;
	border-radius: 4px;
}

.btn-primary
{
	background: #fc997c;
	border: 2px solid #fc997c;
	color: #fff;
}

.btn-secondary
{
	background: #2e4c6d;
	border: 2px solid #2e4c6d;
	color: #fff;
}

.btn-primary:hover
{
	background: #fff;
	border: 2px solid #fc997c;
	color: #fc997c;
}

.btn-secondary:hover
{
	background: #fff;
	border: 2px solid #2e4c6d;
	color: #2e4c6d;
}