.row{
	font-family: "Roboto", sans-serif;
	margin-top: 6vh;
}

.mid-info{
	padding-left: 1vw;
	padding-right: 1vw;
}

.row::after{
	display: block;
	content: "";
	clear: both;
}

.row h2{
	font-size: 36px;
}

.col h3{
	font-size: 26px;
}

.col{
	float: left;
	width: 33.3%;
}

.col i{
	font-size: 35px;
	color: #FC997C;
}

.col2{
	float: left;
	width: 50%;
}

.left{
	background:
	linear-gradient(to bottom,rgba(220, 229, 239, 0.3), rgba(150, 177, 207, 0.3)), 
	url(img/features.jpeg);
	background-size: cover;
	background-position: top center;
	height: 350px;
}
.rigth{
	background-color: #d1d1d1d2;
	padding: 50px;
	font-family: "Roboto", sans-serif;
	height: 350px;
}
.rigth h3{
	font-weight: bold;
	font-size: 29px;
}
.rigth p{
	font-weight: 500;
}
.rigth a{
	background-color: #FC997C;
	border-radius: 5px;
	padding: 8px 16px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin-top: 25px;
}
.rigth a:hover{
	color: #2E4C6D;
	border: 2px solid #2E4C6D;
}
.rigth a:active{
	color: #fff;
	border: 2px solid #fff;
}