.main-nav{
	display: inline-block;
	text-align: right;
	width: calc(100% - 99px);
}

#sign-in{
	font-size: larger;
	background-color: #2E4C6D;
	border: 2px solid;
	border-radius: 8px;
	border-color: #fff;
	padding: 4px 16px;
}

#sign-in:hover{
	background-color: #fff;
	border-color: #2E4C6D;
}

#sign-in:active{
	background-color: #2E4C6D;
	border-color: #fff;
}