
#showcase { 
	background: linear-gradient(to bottom right,rgba(220, 229, 239, 0.3), rgba(150, 177, 207, 0.3)), url(img/bg.jpeg); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
	position: relative;
	width: 100%;
}

.showcase__content{
	position: absolute;
	color: #fff;
	padding: 1rem;
	background: rgba(0, 82, 204, 0.3);
	font-size: 2rem;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	border-radius: 9px;
}

@media only screen and (min-width: 600px)
{
    #showcase {
		height: 50vh;

	}
}

@media only screen and (min-width: 768px)
{
    #showcase {
		height: 60vh;

	}
}


@media only screen and (min-width: 768px)
{
    #showcase {
		height: 70vh;
		background-attachment: fixed;
	}
}


@media only screen and (min-width: 992px)
{
    #showcase {
		height: 80vh;
		background-attachment: fixed;
	}
}


