.main-header{
	background-color: #FC997C;
	padding: .8rem 1.6rem;
	position: sticky;
	top: 0;
	z-index: 10;
	font-family: "Roboto", sans-serif;
}

.header-logo{
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
}
		
.header-logo:hover{
	color: #2E4C6D;
}
		
.header-logo:active{
	background-color: #fff;
	border-radius: 3px;
}