.main-header{
	background-color: #FC997C;
	padding: 8px 16px;
	position: sticky;
	top: 0;
	z-index: 10;
}

.header-logo{
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
}
		
.header-logo:hover{
	color: #2E4C6D;
}
		
.header-logo:active{
	background-color: #fff;
	border-radius: 3px;
}